@{
    ViewData["Title"] = "About";
}
<h2>About Me</h2>

<div class="well">
    I was born and raised in Washington state, and have always loved the Northwest.  As a wee boy, I developed an interest in games - it didn't matter if they were on a board or a screen.  I was enthralled.
    I was mainly drawn to the challenge.  Anything that required critical thinking, strategy or problem solving had me wanting more, and my passion for this has not waned.
</div>

<div class="well">
    In highschool, I fell into a group of friends that had the same interests and it was game over from there.  At the time, I had a toaster of a computer and these friends helped me part out and build my own custom gaming computer.  I remember the first time we met up for a LAN party, and had to troubleshoot how to setup the network and connect everyone.  At this point my interest was piqued, and I couldn't get enough.
</div>

<div> class="well"
    I began studying computer science at college, and also started working as a help desk technician.  This further facilitated my interests and expanded upon my knowledge.  I programming classes I took, while difficult, were also extremely rewarding.  I worked my way up the ranks in help desk at Washington State University before moving back to Seattle.   
</div>

<div class="well">
    Upon returning to Seattle, I took more programming courses at North Seattle College, and ultimately decided to enroll at Epicodus to accelerate my programming knowledge.  Our class has studied C#, JavaScript, and .NET, all with a focus on behaviour driven web development.  Many of our websites have used SQL databases to store locally generated information or data from API programming calls.  I am excited to take my experience to the professional world.
</div>